<launch>

<node pkg="pcl_detection" type="background_person_detector" name="background_person_detector" output="screen"> 

        <param name="ground_plane_file" value="$(find pcl_detection)/data/segbot_v2_coeff.txt" />
	<param name="visualize" value="true" />
	<param name="rate" value="4.0" />
	<param name="rgbd_topic" value = "nav_kinect/depth_registered/points"/>
	<param name="classifier_location" value = "$(find pcl_detection)/data/classifier.yaml"/>
	
	<!-- when publishing the detected poses, which frame id should they be in -->
	<param name="out_frame_id" value = "/map"/>

</node>

</launch>
